body {
  padding: 1rem;
}

output {
  display: block;
  min-height: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
}

#numberBank output span::after {
  content: ", ";
}

#numberBank output span:last-child::after {
  content: "";
}

#sortedNumbers output span::after {
  content: ", ";
}

#sortedNumbers output span:last-child::after {
  content: "";
}
